<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        default-href="#"
        (click)="gotoLoginPage()"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Password Recovery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="auth-page-head">
    <div class="title">{{ shopName }}</div>
  </div>
  <div id="recovery-panel">
    <div *ngIf="!emailFound && !recoveryCodeMatch">
      <form novalidate [formGroup]="emailCheckForm" (ngSubmit)="sendCode()">
        <ion-item class="common-input" lines="none">
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-input
            type="email"
            placeholder="Enter Your Email"
            [clearInput]="true"
            formControlName="email"
            autofocus
          ></ion-input>
        </ion-item>
        <p
          class="success-alert"
          *ngIf="emailCheckForm.pending && emailCheckForm.get('email').dirty "
        >
          Checking email address...
        </p>
        <p
          class="error-alert"
          *ngIf="emailCheckForm.get('email').getError('required') || emailCheckForm.get('email').getError('email')"
        >
          Please enter your email address.
        </p>
        <p
          class="error-alert"
          *ngIf="!emailCheckForm.get('email').getError('required') && !emailCheckForm.get('email').getError('isEmailExit') && !emailCheckForm.pending && !emailCheckForm.valid && !emailCheckForm.get('email').getError('email')"
        >
          Email address did not found
        </p>
        <p class="success-alert" *ngIf="emailCheckForm.valid">
          Email address is found
        </p>
        <ion-button
          expand="full"
          class="common-btn"
          type="submit"
          [disabled]="!emailCheckForm.valid"
        >
          Send Code to this email address.
        </ion-button>
      </form>
    </div>

    <div *ngIf="emailFound && !recoveryCodeMatch; setPassword">
      <p class="success-alert">
        We sent 6 digits code in your email. Please enter code to reset your
        password.
      </p>
      <form [formGroup]="codeCheckForm" (ngSubmit)="checkCode()">
        <ion-item class="common-input" lines="none">
          <ion-icon [src]="passwordIcon" slot="start"></ion-icon>
          <ion-input
            type="text"
            pattern="[0-9 ]*"
            placeholder="Enter code to reset password"
            [clearInput]="true"
            formControlName="code"
          ></ion-input>
        </ion-item>
        <p class="success-alert" *ngIf="codeCheckForm.controls['code'].pending">
          Checking
        </p>
        <p
          class="error-alert"
          *ngIf="codeCheckForm.valid && recoveryCodeSubmitted && !recoveryCodeMatch "
        >
          Code is not matching, Check and Submit Again.
        </p>
        <ion-button
          expand="full"
          class="common-btn"
          type="submit"
          [disabled]="!codeCheckForm.valid"
        >
          Verify Code
        </ion-button>
      </form>
    </div>

    <div #setPassword>
      <div *ngIf="emailFound && recoveryCodeMatch && !recoveryComplete">
        <h2 class="ion-text-center">Set New Password</h2>
        <form [formGroup]="updatedPasswordForm" (ngSubmit)="setNewPassword()">
          <ion-item class="common-input" lines="none">
            <ion-icon name="lock-closed" slot="start"></ion-icon>
            <ion-input
              type="password"
              placeholder="New password"
              [clearInput]="true"
              formControlName="newPassword"
            ></ion-input>
          </ion-item>
          <p
            class="error-alert"
            *ngIf="!updatedPasswordForm.controls['newPassword'].valid && updatedPasswordForm.controls['newPassword'].dirty"
          >
            New password is required.
          </p>

          <ion-item class="common-input" lines="none">
            <ion-icon name="lock-closed" slot="start"></ion-icon>
            <ion-input
              type="password"
              placeholder="Confirm new password"
              [clearInput]="true"
              formControlName="confirmPassword"
            ></ion-input>
          </ion-item>
          <p
            class="error-alert"
            *ngIf="!updatedPasswordForm.errors['matchPassword'] && updatedPasswordForm.controls['confirmPassword'].dirty"
          >
            Password doesn't match.
          </p>
          <p
            class="success-alert"
            *ngIf="updatedPasswordForm.errors['matchPassword'] && updatedPasswordForm.controls['confirmPassword'].dirty"
          >
            Password match.
          </p>

          <ion-button
            expand="full"
            class="common-btn"
            type="submit"
            [disabled]="!updatedPasswordForm.valid && !updatedPasswordForm.errors['matchPassword']"
          >
            Update Password.
          </ion-button>
        </form>
      </div>
    </div>

    <div *ngIf="recoveryComplete">
      <div *ngIf="!recoverySuccess; recoverySuccessBlock">
        <p class="error-alert">We did not recover your password.</p>
        <ion-button expand="full" class="common-btn" (click)="tryAgain()">
          Try Again
        </ion-button>
      </div>
      <div #recoverySuccessBlock>
        <p class="success-alert">Password is recovered successfully.</p>
        <ion-button expand="full" color="tertiary" (click)="goToMenu()">
          Check Our Menu
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
