th,
td {
  font-size: 12px;
  padding: 6px 7px;
}
td {
  p {
    margin-top: 5px;
    margin-bottom: -5px;
  }
}
h3 {
  margin-top: 0px;
}
.second-row {
  margin-left: 5px;
}
.third-row {
  margin-left: 10px;
}
.fourth-row {
  margin-left: 15px;
}
